@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}


@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}


:root {
 --Eloquent-Orange:#EF782E;
 --Eloquent-White:#EBFEFF;
 --Eloquent-DarkBlue:#07334B;
 --Eloquent-LightBlue:#758BFD;
 --Eloquent-Gray:#C4C4C4;
 --Eloquent-Red:#FF0000;
}

* {
    font-family: "Poppins", sans-serif;
}
